.window {
  display: flex;
  justify-content: center;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.listStyle {
  background: '#E1E1E1';
  width: '300px';
  border-radius: '5px';
}
.textStyle {
  color: 'black';
}
.logoutButton {
  margin: 20px;
}
