.window {
  display: flex;
  justify-content: center;
}
.box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  width: 400px;
  height: 500px;
  border-radius: 8px;
  padding: 10px;
}
.textField {
  margin: 10px;
}
.welcomeText {
  font-size: 25px;
}
.registerText {
  font-size: 20px;
}
.button {
  width: 100px;
}
